<div class="team-table drilldown-table {{#if collapse}}collapse{{/if}}">
  <table class="player">
    <thead>
      <tr class="team-header">
        <th class="name">{{name}}</th>
        <th class="team">Team</th>
        <th class="era">ERA</th>
        <th class="innings_pitched collapsible">IP</th>
        <th class="hits">H</th>
        <th class="runs collapsible">R</th>
        <th class="home_runs collapsible">HR</th>
        <th class="hit_batsmen collapsible">HB</th>
        <th class="walks collapsible">BB</th>
        <th class="strikeouts collapsible">SO</th>
        <th class="walk_hit_ip collapsible">WHIP</th>
        <th class="avg collapsible">AVG</th>
      </tr>
    </thead>
    <tbody>
    {{#each all as | member |}}
      <tr>
        <td>{{member.name}}</td>
        <td>{{member.team}}</td>
        <td>{{member.career_history.era}}</td>
        <td class="collapsible">{{member.pitching_history.innings_pitched}}</td>
        <td>{{member.pitching_history.hits}}</td>
        <td class="collapsible">{{member.pitching_history.runs_allowed}}</td>
        <td class="collapsible">{{member.pitching_history.home_runs}}</td>
        <td class="collapsible">{{member.pitching_history.hb}}</td>
        <td class="collapsible">{{member.pitching_history.walks}}</td>
        <td class="collapsible">{{member.pitching_history.strikeouts}}</td>
        <td class="collapsible">{{member.pitching_history.whip}}</td>
        <td class="collapsible">{{member.pitching_history.avg}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
